@import "theme.scss";

body {
  .chat-content-wrapper {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: calc(100% - 10rem);
    background-color: theme-color("background", "light");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    bottom: 4rem;

    #chat-id {
      position: fixed;
      top: 3.5rem;
      width: 100%;
      display: grid;
      grid-template-columns: 1.5rem auto;
      padding: 0.6rem 1rem;
      background-color: theme-color("background", "dark");
      border-bottom: 1px solid theme-color("foreground", "lighter");
      @include text-setting("sm");
    }

    #chat-wrapper {
      overflow-y: scroll;
      padding: 0 0.75rem;
      .chat-section {
        .chat-date {
          @include text-setting("sm");
          color: theme-color("text", "dark");
          font-weight: bold;
          margin-top: 0.5rem;
          margin-bottom: 0.3rem;
          border-bottom: 1px solid theme-color("foreground", "lighter");
        }
        .chat-content {
          @include text-setting("sm");
          display: grid;
          grid-template-columns: 3.5rem auto;
          padding: 0.3rem 0;

          .user-dp {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;
          }

          .chat-content-data {
            .chat-header {
              display: flex;
              align-items: baseline;
              .chat-username {
                width: max-content;
                font-weight: bold;
                margin-right: 0.2rem;
              }
              .chat-time {
                @include text-setting("xs");
                color: theme-color("foreground", "light");
              }
            }
            .chat-content-msg {
              width: 100%;
              p {
                //  display: flex;
              }
            }
          }
        }
      }
    }

    #chat-input-form {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
