<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/dist/reset.css" />
    <link rel="stylesheet" href="/dist/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <title>Maya Chat</title>
  </head>
  <body>
    <div class="nav-wrapper">
      <nav>
        <div class="sidebar">
          <div class="sidebar-menu">
            <div class="sidebar-menu-header" id="channels">
              <p>Channels</p>
              <button class="transparent-btn">
                <i class="far fa-plus-square"></i>
              </button>
            </div>
            <ul class="sidebar-submenu" id="channels-list">
              <li id="cid1">
                <div class="center-content">
                  <i class="fas fa-hashtag"></i>
                </div>
                <div class="center-content">
                  <p>general</p>
                </div>
              </li>
              <li id="cid2">
                <div class="center-content">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="center-content">
                  <p>random</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="sidebar-menu">
            <div class="sidebar-menu-header" id="direct-messages">
              <p>Direct Messages</p>
              <button class="transparent-btn">
                <i class="far fa-plus-square"></i>
              </button>
            </div>
            <ul class="sidebar-submenu" id="channels-list">
              <li id="pid1">
                <div class="center-content">
                  <i class="fas fa-circle active-user"></i>
                </div>
                <div class="center-content">
                  <p>Elon Musk</p>
                </div>
              </li>
              <li id="pid2">
                <div class="center-content">
                  <i class="far fa-circle"></i>
                </div>
                <div class="center-content">
                  <p>Mike</p>
                </div>
              </li>
              <li id="pid3" class="active">
                <div class="center-content">
                  <i class="fas fa-circle active-user"></i>
                </div>
                <div class="center-content">
                  <p>Bill Gates</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="nav-header">
          <img src="../images/logoalt.png" alt="logo" />
        </div>
        <div class="profile-options">
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <div class="profile-settings">
          <div class="profile-settings-option" id="profile-settings-header">
            <div class="center-content horizontal">
              <img
                src="../images/user1.png"
                alt="user-dp"
                class="profile-pic"
              />
            </div>
            <div class="center-content">
              <p>Anubhav Singh</p>
            </div>
          </div>
          <div class="profile-settings-option">
            <div class="center-content horizontal">
              <i class="fas fa-smile-beam"></i>
            </div>
            <div class="center-content">
              <p>Set a status</p>
            </div>
          </div>
          <div class="profile-settings-option">
            <div class="center-content horizontal">
              <i class="fas fa-bell"></i>
            </div>
            <div class="center-content">
              <p>Do not disturb</p>
            </div>
          </div>
          <div class="profile-settings-option">
            <div class="center-content horizontal">
              <i class="fas fa-cog"></i>
            </div>
            <div class="center-content">
              <p>Settings</p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="chat-content-wrapper">
      <div id="chat-id">
        <div class="center-content">
          <i class="fas fa-circle active-user"></i>
        </div>
        <div class="center-content">
          <p>Bill Gates</p>
        </div>
      </div>
      <div id="chat-wrapper">
        <div class="chat-section">
          <div class="chat-date">
            <p>20 April 2020</p>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user1.png"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Anubhav Singh</p>
                <p class="chat-time">21:46</p>
              </div>
              <div class="chat-content-msg">
                <p>Hello World!</p>
              </div>
            </div>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user2.jpg"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Bill Gates</p>
                <p class="chat-time">21:47</p>
              </div>
              <div class="chat-content-msg">
                <p>Hello World!</p>
              </div>
            </div>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user1.png"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Anubhav Singh</p>
                <p class="chat-time">21:48</p>
              </div>
              <div class="chat-content-msg">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci, repellat sunt. Unde, repudiandae ducimus quos ullam,
                  itaque in libero at esse id sint explicabo odit amet eius
                  nemo, minus beatae.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci, repellat sunt. Unde, repudiandae ducimus quos ullam,
                  itaque in libero at esse id sint explicabo odit amet eius
                  nemo, minus beatae.
                </p>
              </div>
            </div>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user2.jpg"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Bill Gates</p>
                <p class="chat-time">22:00</p>
              </div>
              <div class="chat-content-msg">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Praesentium tenetur aperiam maxime dolor recusandae. Repellat
                  reiciendis corrupti reprehenderit assumenda eos. Nihil eius
                  repellat unde impedit tempora vel blanditiis aliquam
                  molestiae?
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-section">
          <div class="chat-date">
            <p>Today</p>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user1.png"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Anubhav Singh</p>
                <p class="chat-time">21:46</p>
              </div>
              <div class="chat-content-msg">
                <p>Hello, how are you?</p>
              </div>
            </div>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user2.jpg"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Bill Gates</p>
                <p class="chat-time">21:47</p>
              </div>
              <div class="chat-content-msg">
                <p>I am good!</p>
              </div>
            </div>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user1.png"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Anubhav Singh</p>
                <p class="chat-time">21:48</p>
              </div>
              <div class="chat-content-msg">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Adipisci, repellat sunt. Unde, repudiandae ducimus quos ullam,
                  itaque in libero at esse id sint explicabo odit amet eius
                  nemo, minus beatae.
                </p>
              </div>
            </div>
          </div>
          <div class="chat-content">
            <div class="user-dp">
              <img
                class="profile-pic"
                src="../images/user2.jpg"
                alt="user-dp"
              />
            </div>
            <div class="chat-content-data">
              <div class="chat-header">
                <p class="chat-username">Bill Gates</p>
                <p class="chat-time">22:00</p>
              </div>
              <div class="chat-content-msg">
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Praesentium tenetur aperiam maxime dolor recusandae. Repellat
                  reiciendis corrupti reprehenderit assumenda eos. Nihil eius
                  repellat unde impedit tempora vel blanditiis aliquam
                  molestiae?
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form id="chat-input-form" class="input-wrapper" onsubmit="return false">
        <textarea
          name="msg"
          id="chat-input"
          placeholder="Message Bill Gates"
        ></textarea>
        <div class="input-options">
          <button class="transparent-btn" type="button">
            <i class="fas fa-camera"></i>
          </button>
          <button class="transparent-btn" type="button">
            <i class="fas fa-paperclip"></i>
          </button>
          <button class="transparent-btn" id="send-btn">
            <i class="fas fa-paper-plane send-msg-icon"></i>
          </button>
        </div>
      </form>
    </div>
    <script src="../dist/main.js"></script>
  </body>
</html>
