<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/sass/reset.css" />
    <link rel="stylesheet" href="/sass/root.css" />
    <link rel="stylesheet" href="/sass/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <title>Maya Chat</title>
  </head>
  <body>
    <div class="nav-wrapper">
      <nav>
        <div class="sidebar">
          <div class="sidebar-menu">
            <div class="sidebar-menu-header" id="channels">
              <p>Channels</p>
              <button class="transparent-btn">
                <i class="far fa-plus-square"></i>
              </button>
            </div>
            <ul class="sidebar-submenu" id="channels-list">
              <li id="cid1">
                <div class="center-content">
                  <i class="fas fa-hashtag"></i>
                </div>
                <div class="center-content">
                  <p>general</p>
                </div>
              </li>
              <li id="cid2">
                <div class="center-content">
                  <i class="fas fa-lock"></i>
                </div>
                <div class="center-content">
                  <p>random</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="sidebar-menu">
            <div class="sidebar-menu-header" id="direct-messages">
              <p>Direct Messages</p>
              <button class="transparent-btn">
                <i class="far fa-plus-square"></i>
              </button>
            </div>
            <ul class="sidebar-submenu" id="channels-list">
              <li id="pid1">
                <div class="center-content">
                  <i class="fas fa-circle active-user"></i>
                </div>
                <div class="center-content">
                  <p>Elon Musk</p>
                </div>
              </li>
              <li id="pid2">
                <div class="center-content">
                  <i class="far fa-circle"></i>
                </div>
                <div class="center-content">
                  <p>Mike</p>
                </div>
              </li>
              <li id="pid3" class="active">
                <div class="center-content">
                  <i class="fas fa-circle active-user"></i>
                </div>
                <div class="center-content">
                  <p>Bill Gates</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <div class="nav-header">
          <p>MAYA CHAT</p>
        </div>
        <div class="profile-options">
          <i class="fas fa-ellipsis-v"></i>
        </div>
       <!--  <div class="profile-seetings">
          <div class="profile-settings-header">
            <div class="center-content">
              <img src="" alt="" />
            </div>
            <div class="center-content">
              <p>Anubhav Singh</p>
            </div>
          </div>
          <div class="profile-settings-option">
            <div class="center-content">
              <img src="" alt="" />
            </div>
            <div class="center-content">
              <i class="fas fa-cog"></i>
            </div>
          </div>
          <div class="profile-settings-option">
            <div class="center-content">
              <i class="fas fa-cog"></i>
            </div>
            <div class="center-content">
              <p>Do not disturb</p>
            </div>
          </div>
          <div class="profile-settings-option">
            <div class="center-content">
              <i class="fas fa-cog"></i>
            </div>
            <div class="center-content">
              <p>Settings</p>
            </div>
          </div>
        </div> -->
      </nav>
    </div>
    <div class="chat-content-wrapper">
      <div id="chat-id">
        <div class="center-content">
          <i class="fas fa-circle active-user"></i>
        </div>
        <div class="center-content">
          <p>Bill Gates</p>
        </div>
      </div>
      <div id="chat-content"></div>
      <form id="chat-input-form" class="input-wrapper">
        <textarea
          name=""
          id="chat-input"
          placeholder="Message Bill Gates"
        ></textarea>
        <div class="input-options">
          <button class="transparent-btn">
            <i class="fas fa-camera"></i>
          </button>
          <button class="transparent-btn">
            <i class="fas fa-paperclip"></i>
          </button>
          <button class="transparent-btn">
            <i class="fas fa-paper-plane send-msg-icon"></i>
          </button>
        </div>
      </form>
    </div>
    <script src="../js/sidebar.js"></script>
  </body>
</html>
